<!DOCTYPE html>
<html>

<head>
    <title>
        Courses App
    </title>
    {# Load the tag library #} {% load bootstrap5 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/index.css' %}">
</head>

<body>
    <div>
        <nav class="navbar navbar-dark bg-dark" style="margin-bottom: 5px;">
            <h3 style="color: white; padding: 5px;">
                <a class="navbar-brand" href="/">
                    Course Detail Home
            </a>
            </h3>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                {% if course_list %}
                <ul>
                    {% for course in course_list %}
                    <div id="course">
                        <nav class="navbar navbar-light bg-light" style="padding: 5px; border-bottom: 1px rgb(90, 90, 90) solid;">
                            <h5>
                                <strong>
                                    {{course.course_title}}
                                </strong>
                            </h5>
                        </nav>
                        <p style="color: red; margin: 5px;">{{course.course_description}}</p>
                        <a class="btn btn-primary" style="margin: 5px;" href="{{ course.id }}">Read More</a>
                    </div>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No courses are available</p>
                {% endif %}
            </div>
            <div class="col-sm">

            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
</body>

</html>